<%= stylesheet_link_tag 'hello', :media => "all" %>

<div class="title">
<h1>Comic Pic</h1>
</div>

<div class='hello_button'>
<li><%= link_to "新規登録", new_user_registration_path, class:"btn-horizontal-border"%></li>
<li><%= link_to "ログイン", new_user_session_path, class:"btn-horizontal-border"%></li>
</div>

<div class="intro">
<h1>Comic Pic とは？</h1>
</div>

<div class="examin">
    <div class="examin1">
        <div class="detail1">
            <h3>みんなが持っている漫画を見てみよう！</h3>
            <div class="more_detail1">
                <h5>ここでは色んな人が「買った」あるいは「読んでいる」漫画の写真がみれるよ！</h5>
                <h5>あなたが好きな漫画を持っている人はどれくらいいるかな？</h5>
                <h5>新しい漫画との出会いもあるかも？！</h5>
            </div>
        </div>
    </div>
    <div class="examin2">
        <div class="detail1">
            <h3>持っている漫画の写真を投稿しよう！</h3>
            <div class="more_detail1">
                <h5>もちろんあなたも投稿することができるよ！</h5>
                <h5>「買ったよ！」の時は”購入”、「読んだよ！」の時は”読了”で投稿を分けれるよ！</h5>
                <h5>コメントは”読了”投稿だけにできるからネタバレもされにくい！</h5>
            </div>
        </div>
    </div>
    <div class="examin3">
        <div class="detail1">
            <h3>ユーザーごとのアルバム機能！</h3>
            <div class="more_detail1">
                <h5>マイページにはその人の投稿だけじゃなく、写真だけが並ぶアルバムもあるよ！</h5>
            </div>
        </div>
    </div>
</div>

<div class='hello_button'>
<li><%= link_to "新規登録", new_user_registration_path, class:"btn-horizontal-border"%></li>
<li><%= link_to "ログイン", new_user_session_path, class:"btn-horizontal-border"%></li>
</div>