<main>
<div class="user_all">

  <div class="user_top">
    <div class="user_top_pro">
      <i class="fas fa-id-badge"></i>
      <b><%= @user.name %></b>
      <div class="user_top_pro_profile">
        <p>profile :</p>
        <p><%= @user.profile %></p>
      </div>
    </div>
    <div class="user_top_com">
    <% if current_user.id == @user.id %>
      <%= link_to "編集", edit_user_registration_path, class:"user_top_edit" %>
      <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-border-bottom" %></li>
    <% end %>
  </div>

  <div class="user_item_title">
    <h2>投稿一覧</h2>
  </div>
  <% @user.posts.each do |t| %>
    <div class="user_post">
      <div class="user_post_state">
        <%= t.states %>
      </div>
      <div class="user_post_title">
        <%= t.title %>
      </div>
      <div class="user_post_more">
        <a href="/posts/<%= t.id %>", class:"button-arrow" >詳細</a>
      </div>
    </div>
  <% end %>

  <div class="user_album_title">
    <h2>アルバム</h2>
  </div>

  <div class="user_album">
    <% @user.posts.each do |t| %>
      <%= image_tag t.picture_url, size: "500x400" if t.picture? %>
    <% end %>
  </div>
</div>

  <!-- 以下はいいね機能を実装している場合-->
  <!--<h2>ユーザーがいいねした投稿一覧</h2>
  <% @user.liked_posts.each do |t| %>
    <div class="tweet">
    <%= t.user.name %>
    <%= t.title %>
    <%= t.comment %>
    </div>
  <% end %> -->
<div class="user_bottom_space">
</div>
</main>