<h1>新規投稿</h1>
<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="field">
  <%= f.label :picture %>
  <%= f.file_field :picture %>
</div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, :size => "50x10" %>
  </div>

  <div class="field">
  <%= f.label :states %>
  <%= f.select :states, 
  [["購入", "購入"], 
  ["読了", "読了"]], include_blank: "選択して下さい" %>
</div>

  <div class="field">
  <%= f.text_field :tag_ids, class: "form-control", id:'tag_ids',\
  placeholder: "タグをつける。複数つけるには','で区切ってください。", :size => 50 %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", posts_path %>