<%= stylesheet_link_tag 'posts', :media => "all" %>
<div class="show_space">
</div>
<div class="show_all">
  <div class="show_title">
    <p><%= @post.title %></p>
  </div>
  <div class="show_main">
    <div class="show_left">
      <div class="show_left_pic">
        <p> <%= image_tag @post.picture_url, size: "500x400" if @post.picture? %></p>
      </div>
      <div class="show_left_state">
        <p><%= @post.states %></p>
      </div>
    </div>
    <div class="show_right">
      <div class="show_right_space">
      </div>
      <div class="show_right_com">
        <p><%= @post.comment %></p>
      </div>
      <!-- <div class="show_right_tag">
        <p><% @post.tags.each do |tag| %>
         <%= tag.name %>
        <% end %></p>
      </div> -->
      <div class="show_right_data">
        <div class="show_right_data1">
          <p><%= @post.created_at %></p>
        </div>
        <div class="show_right_data2">
          <% if user_signed_in? %>
            <% if current_user.already_liked?(@post) %>
              <%= link_to post_like_path(@post), method: :delete do %>
              <i class="fas fa-heart"></i><%= @post.likes.count %>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(@post), method: :post do %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
              <% end %>
            <% end %>
          <% else %>
            <i class="far fa-heart"></i><%= @post.likes.count %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="show_user">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <i class="fas fa-id-badge"></i>
    <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a>
  </div>
  <div class="show_reply">
    <% if @post.states == "読了" %>
      <div class="show_reply_text">
        <b>コメント</b>
      </div>
      <% @replies.each do |c| %>
        <div class="show_reply_main">
          <div class="show_reply_main_name">
            <i class="far fa-id-badge"></i>
            <%= c.user.name unless c.user.blank? %>
          </div>
          <div class="show_reply_main_con">
            <%= c.content %>
          </div>
        </div>
      <% end %>
      <div class="show_reply_form">
        <% if user_signed_in? %>
        <%= form_with(model: [@post, @reply], local: true) do |f| %>
          <%= f.text_area :content, :size => "30x2" %>
          <%= button_tag type: "submit" do %>
            <i class="far fa-replies"></i> コメントする
          <% end %>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <b>コメントは’読了’にだけできます</b>
    <% end %>
  </div>
  <div class="show_delete">
  　<% if user_signed_in? && current_user.id == @post.user_id %>
      <%= button_to "投稿削除", post_path(@post.id), method: :delete, class:"btn-flat-border" %>
    <% end %> 
  </div>
</div>